<!--<ion-header [translucent]="true">-->
  <ion-header>
    <ion-toolbar>
      <ion-title>Countries  </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
 
    <!--<ion-list>
    <ion-item *ngFor="let ph of countryFeature">
    <ion-label>{{ph.r}} {{ph.n}}, {{ph.c}}</ion-label>
    <ion-label>{{ph.r}} {{ph.c}}</ion-label>
    </ion-item>
    </ion-list>-->
  
    <ion-card *ngFor="let ph of countryFeature">
      <img src="{{ph.f}}" />
      <ion-card-header>
        <ion-card-title> {{ph.n}}  </ion-card-title>
        <ion-card-subtitle>huynia</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button expand="block"(click)="openNews(ph.a)">News</ion-button>
       bla bla  
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  