<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>

      <ion-item-divider>
        <h2>​G00438846<ion-icon name="settings"></ion-icon></h2>
      </ion-item-divider>



    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-input label="Enter Country" placeholder="Country Name" [(ngModel)]="keyword"></ion-input>
  <ion-button (click)="openCountries()">Search</ion-button>
  <!--<h4 [routerLink]="['/countries']">Countries</h4>-->

</ion-content>