<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-radio-group value="metric">
    
    <ion-radio value="metric">Metric</ion-radio><br />
    <ion-radio value="scientific">Scientific</ion-radio><br />
    <ion-radio value="fahreneit">Fahreneit</ion-radio>
  </ion-radio-group>


</ion-content>
