<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-list>
    <ion-radio-group value="metric">

      <!--ion-radio-group [(ngModel)]="radioChecked">-->
      <ion-list-header>
        <h2>Unit</h2>
      </ion-list-header>
      <ion-item (click)="radioChecked(m)">
        <ion-label>Metric</ion-label>
        <ion-radio value="metric"></ion-radio>
      </ion-item>
      <ion-item (click)="radioChecked(s)">
        <ion-label>Scientific</ion-label>
        <ion-radio value="scientific"></ion-radio>
      </ion-item>
      <ion-item (click)="radioChecked(f)">
        <ion-label>Fahreneit</ion-label>
        <ion-radio value="fahreneit"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>



</ion-content>